<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="chat_gpt" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="product_catalog_seo" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GPT SEO question:</label>
                <field id="gpt_description" translate="label" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GPT description question:</label>
                </field>
                <field id="gpt_short_description" translate="label" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GPT short description question:</label>
                </field>
                <field id="gpt_seo_keywords" translate="label" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GPT SEO keywords question:</label>
                </field>
            </group>
        </section>
    </system>
</config>
